#fbImage {
    margin-right: 20px;
}

#container {
    text-align: center;
}

#header {
    display: inline-block;
    text-align: center;
    color: white;
    width: 100%;
    background: url('../../assets/grass.jpeg') no-repeat center center fixed;
    background-size: cover;

}

#surveyCont {
    text-align: center;
}

#surveyForm {
    display: inline-block;
    width: 90%;
    text-align: left;
    border: none;
}

#submitQues {
    width: 100%;
}


